<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.vove7.qtmnotificationplugin">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/StartBackground">
            <intent-filter>
                <action android:name="cn.vove7.qtmnotificationplugin.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.QTWNotificationListener"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".activity.ManageGroupActivity">
            <intent-filter>
                <action android:name="cn.vove7.qtmnotificationplugin.manage_fa" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HelperActivity"
            android:label="@string/title_activity_helper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SplashActivity"
            android:theme="@style/StartBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".DialReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="789"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.AppTileService"
            android:label="QTW快捷开关"
            android:icon="@drawable/ic_qq"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>